@mixin transition($anim) {
  -webkit-transition: $anim;  // Safari/Chrome
     -moz-transition: $anim;  // Firefox
       -o-transition: $anim;  // Opera
          transition: $anim;  // IE10+ and Future Browsers
}

$transition-duration: 0.35s;
$transition: $transition-duration ease-in-out all;

.view-animation.ng-enter {
  @include transition($transition);

  opacity: 0;

  &.ng-enter-active {
    opacity: 1;
  }
}
