
$animation: 0.5s linear all;

.view-animation.ng-enter {
  -webkit-transition: $animation;  // Safari/Chrome
  -moz-transition:    $animation;  // Firefox
  -o-transition:      $animation;  // Opera
  transition:         $animation;  // IE10+ and Future Browsers

  opacity: 0;

  &.ng-enter-active {
    opacity: 1;
  }
}
